@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.border-bottom {
    margin: 10px 0;
    padding: 20px 0;
}

.card {
    height: 500px;
    overflow: auto;
}

.circle {
    border-radius: 50%;
}

header{
    background-image: url("../img/background-verde.jpg");
    border-bottom: solid green 2px;
    padding: 20px;
}
.titulo-pagina{
    font-size: 3em;
    font-family: 'Sofia';
}

.logo{
    /* width: 5%; */
    height: 70px;
    /* position: absolute; */
}

.nome-input{
    border-bottom: solid green 1px;
}

.icon{
    color: red;
}

footer{
    border-top:solid green 2px;
    background-image: url("../img/background-verde.jpg");
}