@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

html, body {
    height: 100%;
}

/* MAIN */

.border-bottom {
    margin: 10px 0;
    padding: 20px 0;
}

.card {
    height: 500px;
    overflow: auto;
}

.circle {
    border-radius: 50%;
}

header{
    background-image: url("../img/background-verde.jpg");
    border-bottom: solid green 2px;
    padding: 20px;
}
.titulo-pagina{
    font-size: 3em;
    font-family: 'Sofia';
}

.logo{
    height: 70px;
}

.nome-input{
    border-bottom: solid green 1px;
}

.m-custom {
    margin-top: 31px;
}

.icon{
    color: red;
}

tr:nth-child(even) { background-color: #c3e6cb; }

/* FIM_MAIN */

footer{
    border-top:solid green 2px;
    background-image: url("../img/background-verde.jpg");
}

@media (max-width: 575px) {
    .small-sm {
        font-size: 0.9em;
    }
}